
/* Intializing basics for all part*/
*{box-sizing: border-box;padding: 0px;margin: 0px;}
body{background:#ADD8E6;font-size: 30px;}

.initialPage{margin-top: 100px;text-align: center;}

p{font-family: 'Poly',cursive, Arial, sans-serif;}

/*setting color and display properites for timer and view score button*/
header{background: #87CEEB;padding: 10px;display: none;}
.jumbotron {position: relative;margin:20px;height: 500px; display: none;}
.float_right{float: right;}

/*Styling for Questions*/
.questionTitle{
     position: absolute;
     top: 10px;
     max-width:100%;
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
    font-family: 'Poly',cursive, Arial, sans-serif;
    color: #341f97;
}

/*Styling for Options*/
.option {
    background-color: #ffffff;
    padding: 5px;
    border-radius: 50px;
    border: 1px solid ;
    text-align: center;
    font-family: 'Poly',cursive, Arial, sans-serif;
  }
  .option:hover {background-color: rgba(255, 255, 255, 0.1);border: 4px solid #341f97;color: #341f97;} 

  /*Styling for results*/
#result{margin-left: 50px;font-size: 28px;color:maroon;}

  .endPage{
    margin-top: 200px;
    padding: 10px;
    font-size: 28px;
    color: #341f97;
    text-align: center;
  }

  label{margin-top: 20px;margin-bottom: 20px;}
  button{margin: 10px;}
