

*{box-sizing: border-box;padding: 0px;margin: 0px;}
body{
    background:#ADD8E6;
    /* position: relative;
    padding-bottom: 200px;
     min-height: 100vh; */
     }


#wrapper{
    position: relative;
    top: 350px;
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

#playButton{
    height: 60px;
    width: 300px;
    font-size: 50px;
    border-radius: 100px;
}

header{
    background: skyblue;
    font-size: 40px;
    padding: 20px;
    display: none;
    text-align: center;
}

/* .float-left{float: left;}
.float-right{float: right;} */


.jumbotron {
    /* position: relative;
    top: 150px; */
    padding: 20px;
    margin:50px;
    /* max-width: 100%;
    height: 500px; */
    display: none;
    
}
h2{
    /* position: absolute; */
    text-align: center;
   
}



.option {
    /* position: absolute;
    top: 100px; */
    display: block;
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 100px;
    border: 1px solid transparent;
    /* transition: 0.4s all; */
    text-align: center;
  }
  .option:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1); 
    border: 2px solid #341f97;
    color: #341f97;
  }

#result{
     /* position: absolute;
    bottom: 0px;  */
    margin-left: 50px;
    font-size: 28px;
    color:maroon;
    /* display: none; */

}


/* 
   .option.active{
    background-color: darkorange;
    color: #fff;
    cursor: pointer;
  }  */


  .endPage{

    padding: 50px;
    text-align: center;
  }
  input{
    font-size: 30px;

  }
  h3{
      display: inline-block;
      font-size: 35px;
  }